.intro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro-container .intro-content .intro-title {
  font-size: 2.5rem;
  font-family: var(--font-title);
  font-weight: 900;
  line-height: 3.5rem;
  width: 90%;
}
.intro-container .intro-content .intro-subtitle {
  font-family: var(--font-regular);
  font-size: 1.2rem;
  margin-top: 1rem;
  width: 90%;
}
.intro-container img {
  width: 46%;
}